.fieldset {
	width: 60%;
	border-radius: .5em;
}

.submitbar {
	height: 4em;
	background-color: rgba(82,84,86,1);
	width: 80%;
	margin: 1em auto;
	border-radius: .5em;


}

.submitButton {
	width: 8em;
	height : 4em;
	margin-top: 1em;
	margin-left: 30em;
	border-radius: .5em;
	position: relative;
}
