@media (max-width: 40em) {
	.menu-right {
		position: fixed;
		top: -20em;
		left: 0;
		right: 0;
		z-index: 1;
		transition: 1s top ease;
	}
	.is-active {
		top: 10em;
	}

}

@media (min-width: 40em) {
	
	.container {
		width: 40em;	
	}

	.menu > li {
			display: inline-block;
			
			padding: 0 .5em;
		}
	.logo { 
		display: inline-block;
	}
	.main {
		margin-top: 14em;
	}
	.dropdown {
		display: none;
	}

}



@media (min-width: 60em) {
	
	.container {
		width: 60em;	
	}

	.title {
		font-variant: small-caps;
		display: inline-block;
		color: white;
		font-size: 6em;
		margin: 0;
		text-shadow: .02em .02em .5em #000;

	}
	
	.main {
		width: 70%;
		margin-top: 15em;
		margin-left: auto;
		margin-right: auto;
	}

	.hidden-text {
		display:inline-block;
	}
	.nav a {
		padding: .75em;
	}

	.nav a:hover {
		background-color: #fff;
		color: #000;
		border-radius: .5em;
		padding: .75em;

	}
	.dropdown {
		display: none;
	}
}	

@media (min-width: 70em) {

	.container {
		width: 70em;
	}
	.dropdown{
		display:none;
	}
}


	


